@import "../../project/style.css";

:root {
    --button-bg-color: var(--vivid-orange);
    --button-text-color: var(--vivid-orange);
    --button-hover-color: var(--caparol);
    --button-focus-color: var(--nerolac-rockslide);
}

.button {
    position: relative;
    display: inline-block;
    color: var(--button-bg-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    padding: 1rem 2rem;
    overflow: hidden;
    transition: 4s;
}

.button:hover {
    border: 1px solid var(--caparol);
    transition: 4s;
    transition-delay: 1.2s;
}

.button__line {
    position: absolute;
    display: block;
}

.button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,transparent, var(--caparol));
}

.button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, var(--caparol));
}

.button__line--right {
    right: 0;
    bottom: -100%;
    height: 100%;
    width: 1px;
    background: linear-gradient(0deg, transparent, var(--caparol));
}

.button__line--left {
    left: 0;
    top: -100%;
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, transparent, var(--caparol));
}

.button:hover .button__line--top {
    left: 100%;
    transition: 2s;
}

.button:hover .button__line--bottom {
    right: 100%;
    transition: 2s;
}

.button:hover .button__line--right {
    bottom: 100%;
    transition: 2s;
}

.button:hover .button__line--left {
    top: 100%;
    transition: 2s;
}

.button:focus {
    outline: 0.15em dotted var(--nerolac-rockslide);
}