<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="button.css">
  </head>
  <body>
    <a href="#"
       class="button"
       role="button"
       tabindex="0"
    >
      <span class="button__line button__line--top"></span>
      <span class="button__line button__line--right"></span>
      <span class="button__line button__line--bottom"></span>
      <span class="button__line button__line--left"></span>
      knopka
    </a>
  </body>
</html>