a[href$="#"] {
    color: blue;
}

a[href^="https://"] {
    color: #666;
    border-bottom: red;
}

a[href$="yandex.ru"] {
    color: #f70;
}

li {
    font-size: 30px;
    font-weight: bold;
}
.underline {
    border-bottom: 10px solid #666;
}