a[href$="yandex.ru"] {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
    color: #f70;
}

li {
    font-size: 30px;
    font-weight: bold;
}

a[href^="http://"] {
    text-decoration: none;
    color: #666;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}

a[href$=".html"] {
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}

span {
    display: inline-block;
    transform: rotate(90deg);
    color: #f70;
}
