h1 {
    color: orange;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

h2 {
    color: orange;
    font-weight: bold;
}

p em {
    background: green;
    color: white;
}

li span {
    font-weight: bold;
}

h2 ~ h2 {
    color: blue;
}

ol li {
    color: gray;
}

li ~ li ol li {
    color: red;
}

ul ~ ul li ol li {
    color: green;
}

ul ~ ul li ~ li ol li {
    color: red;
}

table {
    border-collapse: separate;
    border: 1px solid black;
    width: 400px;
    text-align: center;
    font-weight: bold;

}

tr, td {
    border: 1px solid black;
}

tr ~ tr ~ tr td {
    text-align: left;
    background-color: white;
    color: orange;
}

tr ~ tr ~ tr td + td {
    text-align: center;
    background-color: green;
    color: white;
}

P:first-letter {
    font-size: 30px;
    font-weight: bold;
    color: red;
}