* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fbfbf8;
    padding: 8px 16px;
    z-index: 1;
    box-shadow: 0 5px 7px -5px #201A19;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #201a19;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 42px;
    /* width: 20px; */
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
    /* width: 100%; */
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #201a19;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #d83f2d;
}

.main-nav__item--cta a {
    color: white;
    background: #d83f2d;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #d83f2d;
    background: white;
    border: none;
}

.main-footer {
    background: #201a19;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: #fbfbf8;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: #916b64;
    color: white;
    font: inherit;
    border: 2px solid #6d4f4a;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #916b64;
}

.button:focus {
    outline: none;
}
